<div class="encabezado-evento">
    <div class="contenedor">
        <div class="resumen-evento">
            <h1>Nombre Evento</h1>
            <div class="info-autor">
                <div class="imagen">
                    <img src="">                    
                </div>
                <div class="informacion">
                    <p>Organizado por:</p>
                    <p class="autor">
                        <a href="">Juan </a> Creador de: 
                        <a href="">Nombre Grupo</a>
                    </p>
                </div>
            </div><!--.info-autor-->
        </div><!--resumen-evento-->

        <div class="pregunta-asistencia">
            <p>¿Asistirás?</p>
            <a href="">Si</a>
        </div>
    </div>
</div>

<main class="contenido-evento">
    <div class="contenedor">
        <div class="informacion-evento">
            <div class="descripcion">
                // Imagen del Meeti
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ea nihil inventore voluptates cum quaerat harum dolores excepturi, quam consectetur quidem accusamus corporis similique, assumenda a eaque quo quia mollitia.</p>
            </div><!--.descripcion-->

            <div class="asistentes">
                <div class="titulo">
                    <h3>Asistentes</h3>
                    <a href="">Ver Todos</a>
                </div>
            </div><!--asistentes-->

            <div class="comentarios">
                <h2>Comentarios</h2>
                    <div class="comentario">
                        <div class="imagen"></div>
                        <div class="texto">
                            <p>Hola</p>
                            <p>Escrito por: <span>Juan</span></p>
                            <input type="button" value="Eliminar" class="btn btn-azul">
                        </div>
                    </div>
                    <div class="comentario">
                        <div class="imagen"></div>
                        <div class="texto">
                            <p>Hola</p>
                            <p>Escrito por: <span>Juan</span></p>
                        </div>
                    </div>
                <!--formulario comentarios-->                
                <form action="" method="POST" class="default-form comentarios">
                    <legend>Agrega un comentario</legend>
                    <div class="campo">
                        <label>Comentario</label>
                        <textarea name="comentario"></textarea>
                    </div>
                    <div class="campo enviar">
                        <input type="submit" value="Enviar" class="btn btn-rosa">
                    </div>
                </form><!--/formulario-comentarios-->
            </div><!--.comentarios-->
        </div><!--informacion-evento-->

        <aside class="informacion">
            <div class="fecha">
                <p>30/01/2024 a las 10:00 Horas</p>
            </div>
            <div class="ubicacion">
                <p>Avenida Siempre Viva</p>
            </div>
        </aside>
    </div>
</main>